# JetBrains Rider
.idea/
*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/

# Visual Studio
*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/

# Common C# project files
*.dll
*.exe
*.pdb
*.user
*.suo
*.cache
*.ilk
*.log
*.ncb
*.sbr
*.tlog
*.tlb
*.tlog
*.v11.suo
*.v12.suo
*.v14.suo
*.v15.suo
*.v16.suo
*.v17.suo
*.v18.suo
*.v19.suo
*.v20.suo
*.v21.suo
*.v22.suo
*.v23.suo
*.v24.suo
*.v25.suo
*.v26.suo
*.v27.suo
*.v28.suo
*.v29.suo
*.v30.suo
*.v31.suo
*.v32.suo
*.v33.suo
*.v34.suo
*.v35.suo
*.v36.suo
*.v37.suo
*.v38.suo
*.v39.suo
*.v40.suo
*.v41.suo
*.v42.suo
*.v43.suo
*.v44.suo
*.v45.suo
*.v46.suo
*.v47.suo
*.v48.suo
*.v49.suo
*.v50.suo
*.v51.suo
*.v52.suo
*.v53.suo
*.v54.suo
*.v55.suo
*.v56.suo
*.v57.suo
*.v58.suo
*.v59.suo
*.v60.suo
*.v61.suo
*.v62.suo
*.v63.suo
*.v64.suo
*.v65.suo
*.v66.suo
*.v67.suo
*.v68.suo
*.v69.suo
*.v70.suo
*.v71.suo
*.v72.suo
*.v73.suo
*.v74.suo
*.v75.suo
*.v76.suo
*.v77.suo
*.v78.suo
*.v79.suo
*.v80.suo
*.v81.suo
*.v82.suo
*.v83.suo
*.v84.suo
*.v85.suo
*.v86.suo
*.v87.suo
*.v88.suo
*.v89.suo
*.v90.suo
*.v91.suo
*.v92.suo
*.v93.suo
*.v94.suo
*.v95.suo
*.v96.suo
*.v97.suo
*.v98.suo
*.v99.suo
*.v100.suo
*.v101.suo
*.v102.suo
*.v103.suo
*.v104.suo
*.v105.suo
*.v106.suo
*.v107.suo
*.v108.suo
*.v109.suo
*.v110.suo
*.v111.suo
*.v112.suo
*.v113.suo
*.v114.suo
*.v115.suo
*.v116.suo
*.v117.suo
*.v118.suo
*.v119.suo
*.v120.suo
*.v121.suo
*.v122.suo
*.v123.suo
*.v124.suo
*.v125.suo
*.v126.suo
*.v127.suo
*.v128.suo
*.v129.suo
*.v130.suo
*.v131.suo
*.v132.suo
*.v133.suo
*.v134.suo
*.v135.suo
*.v136.suo
*.v137.suo
*.v138.suo
*.v139.suo
*.v140.suo
*.v141.suo
*.v142.suo
*.v143.suo
*.v144.suo
*.v145.suo
*.v146.suo
*.v147.suo
*.v148.suo
*.v149.suo
*.v150.suo
*.v151.suo
*.v152.suo
*.v153.suo
*.v154.suo
*.v155.suo
*.v156.suo
*.v157.suo
*.v158.suo
*.v159.suo
*.v160.suo
*.v161.suo
*.v162.suo
*.v163.suo
*.v164.suo
*.v165.suo
*.v166.suo
*.v167.suo
*.v168.suo
*.v169.suo
*.v170.suo
*.v171.suo
*.v172.suo
*.v173.suo
*.v174.suo
*.v175.suo
*.v176.suo
*.v177.suo
*.v178.suo
*.v179.suo
*.v180.suo
*.v181.suo
*.v182.suo
*.v183.suo
*.v184.suo
*.v185.suo
*.v186.suo
*.v187.suo
*.v188.suo
*.v189.suo
*.v190.suo
*.v191.suo
*.v192.suo
*.v193.suo
*.v194.suo
*.v195.suo
*.v196.suo
*.v197.suo
*.v198.suo
*.v199.suo
*.v200.suo

# Ignore .dll files
*.dll